activate_this = '/var/www/demo/.venv/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))

import os
os.environ['DATABASE_URI'] = 'mysql://{{ database_user }}:{{ database_pass }}@{{ rds_instance_hostname }}.{{ rds_instance_domain }}/{{ database_name }}'

import sys
sys.path.insert(0, '/var/www/demo')

from demo import app as application
